.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: rgba(52, 201, 75, 1);
     width: 100vw;
     height: 74px;
     padding: 0px 32px;
     
}